.item:hover .btn {
	opacity: 1;
	transform: translateX(0);
}

.btn {
	position: absolute;
	width: 100%;
	bottom: 0;
	right: 1.4px;
	opacity: 0;
	transform: translateY(10%);
	transition: all ease-in-out 0.3s;
}

.image {
	transition: all 0.3s ease-out;
}

.image:hover {
	transform: scale(1.07);
}
