.nav {
	text-transform: uppercase;
	border: 0px solid rgb(238, 66, 102);
	transition: all ease-out 0.3s;
}

.nav:hover {
	border-bottom: 2px solid rgb(238, 66, 102);
}

.active {
	color: rgb(238, 66, 102);
}

.disabled {
	color: #25262a;
}
